/node_modules
/vendor
.env
docker-compose.override.yml
.DS_Store
.git
.gitignore
.idea
.vscode
*.log
*.sql
*.tar
*.zip
/dist
/storage/*.key
/public/hot
/public/storage
/storage/app/public/*
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*